/*VARIABLES*/
:root{
    --primary-color: #B6E3FB;
    --secondary-color: #708090;
    --tertiary-color: #D25F2C;
}
/*END OF VARIABLES*/

/*"OVERALL STYLES"*/
/*Universal styles*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Hyoerlink styles */
a{
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover, .sidepanel a:hover {
    color: #f1f1f1;
}
/*END OF "OVERALL STYLES"*/

/*HEADER STYLES*/
header {
    background-color: #708090;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

header h1{
    /* flex: 1, 1; */
    margin: 0px, 10px;
}

header nav{
    /* flex: 2, 1; */
    width: 60%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header nav ul li{
    font-size: 1.4rem;
}
/*END OF HEADER STYLES*/

/* COLLAPSABLE SIDEPANEL */
/* The sidepanel menu */
.sidepanel {
    height: 0; /*Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: -webkit-sticky;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--secondary-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

  /* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: var(--primary-color);
    display: block;
}

  /* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /* Style the button that is used to open the sidepanel */
.openbtn {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 20px;
    cursor: pointer;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    padding: .967% 1.45%;
    border: none;
}

.openbtn:hover {
    background-color: var(--tertiary-color);
    color:#f1f1f1;
}
/* END OF COLLAPSABLE SIDEPANEL */

/*HERO STYLES*/
.hero{
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero img{
    width: 70%;
    z-index: 2;
}
/*END OF HERO STYLES*/

/*MAIN: content flexbox container*/
.content-flex{
    display: flex;
    flex-wrap: wrap;
}
/*END OF MAIN: content-flex*/

/*SECTION STYLES: utility class*/
.section-styles{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4;
    margin-bottom: 2.174%;
    background-color: var(--secondary-color);
    border-radius: 11px;
}
.section-styles h2{
    width: 100%;
    padding-left: 20%;
    border-bottom: 5px solid var(--tertiary-color);
    color: var(--primary-color);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
/*END OF SECTION STYLES: utility class*/

/*ABOUT-ME STYLES*/
.about-me{
    width: 60%;
    margin-left: 3%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.about-me div p{
    flex: 1, 1 auto;
    padding: 0 2.5%;
}
.about-me img{
    margin: 1% 0;
    align-self: center;
    width: 25%;
    border: 5px ridge var(--primary-color)
}
/*END OF ABOUT ME STYLES*/

/*SKILLS SECTION STYLES*/
.skills{
    margin-left: 5%;
    margin-bottom: 2.174%;
    width: 25%;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.image-container img {
    height: 50%;
    width: 50%;
}
/*END OF SKILLS SECTION STYLES*/

/*PROJECTS SECTION STYLES*/
.projects{
    margin: 0 3% 2.174%;
}

.screenshots{
    display: flex;
    justify-content: space-between;
}

.screenshots p{ 
    font-size: 1.4rem;
    margin-left: 5%;
    align-self: center;
}

.screenshots figure{
    width: 50%;
}

.screenshots figure a img{
    width: 100%;
}

.screenshots figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
/*END OF PROJECTS SECTION STYLES */

/*CONTACT ME STYLES*/
.contact-me{
    width: 100%;
    margin: 0 3% 2.174%;
}
.contact-me div{
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#gmail-figure a img{
    /* margin-left: 18%; */
}

.contact-me > div > figure > figcaption{
    font-size: 1.3em;
    text-align: center;
    color: var(--primary-color);
}
/*END OF CONTACT ME STYLES*/

/* 
@media only screen and (){
    
} */