/*VARIABLES*/
:root{
    --primary-color: #B6E3FB;
    --secondary-color: #708090;
    --tertiary-color: #D25F2C;
    --figcaptionBG-color: #D25F2C88;
}
/*END OF VARIABLES*/

/*"OVERALL STYLES"*/
/*Universal styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hyperlink styles */
a{
    color: var(--primary-color);
    font-size: 2.5rem;
    text-decoration: none;
    transition: 0.3s;
}

/* sidepanel hyperlinks font size */
a:not(header a){
    font-size: 2rem;
}

/* project section hyperlinks and all paragraph element font size */
a:not(header a, #sidepanel a), p{
    font-size: 1.4rem;
}

/* Color change when mouse hover over hyperlinks */
a:hover, .sidepanel a:hover {
    color: #f1f1f1;
}

/* Top heading font size */
h1{
    font-size: 3.3rem;
}

/* flexbox Utility Class
    -direction: row; content on main axis: spaced evenly*/
.flex-even{
    display: flex;
    justify-content: space-evenly;
}

/*SECTION STYLES: content section utility class*/
.section-styles{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4;
    margin: 2.174% 3%;
    background-color: var(--secondary-color);
    border-radius: 11px;
}
.section-styles h2{
    font-size: 2.5rem;
    width: 100%;
    padding-left: 20%;
    border-bottom: 5px solid var(--tertiary-color);
    color: var(--primary-color);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
/*END OF SECTION STYLES*/
/*END OF "OVERALL STYLES"*/

/*HEADER STYLES*/
header {
    background-color: #708090;
    color: var(--primary-color);
    /* standard flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header nav{
    width: 65%;
}

header nav ul{
    list-style: none;
    width: 100%;
}

header nav ul li{
    font-size: 1.4rem;
}
/*END OF HEADER STYLES*/

/* COLLAPSABLE SIDEPANEL */
/* The sidepanel menu */
.sidepanel {
    height: 0; /*Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--secondary-color); /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: .5%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidepanel a {
    padding: 3.5% 3.5% 3.5% 10%;
    color: var(--primary-color);
}

.sidepanel li{
    font-size: 3rem;
}

  /* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 2.4%;
    font-size: 3rem;
}

  /* Style the button that is used to open the sidepanel */
.openbtn {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size:30px;
    cursor: pointer;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    padding: 15px 20px;
    border: none;
}

.openbtn:hover {
    background-color: var(--tertiary-color);
    color:#f1f1f1;
}
/* END OF COLLAPSABLE SIDEPANEL */

/*HERO STYLES*/
.hero{
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.hero img{
    width: 70%;
    z-index: 2;
}
/*END OF HERO STYLES*/

/*MAIN: content flexbox container*/
.content-flex{
    display: flex;
    flex-wrap: wrap;
}
/*END OF MAIN: content-flex*/

/*ABOUT-ME STYLES*/
.about-me{
    width: 60%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

.about-me img{
    margin: 1% 0;
    align-self: center;
    width: 35%;
    border: 5px ridge var(--primary-color)
}

.about-me div p{
    padding: 0 2.5%;
}
/*END OF ABOUT ME STYLES*/

/*SKILLS SECTION STYLES*/
/* color in only h2 */
.skills{
    width: 25%;
    background-color: white;
}
.skills-h2{
    background-color: var(--secondary-color);
    border-radius: 11px;
}

/* columized and center images via flexbox */
.image-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    height: 45%;
    width: 45%;
}
/*END OF SKILLS SECTION STYLES*/

/*PROJECTS SECTION STYLES*/
/* .screenshots-rb is the Run Buddy project
    - the top most project (larger img. then the others)*/
.projects{
    width: 100%;
}

.screenshots-rb{
    display: flex;
    flex-direction: column;
}

.screenshots-rb, .screenshots{
    margin: 1% 0;
}

.screenshots-rb p, .screenshots p{ 
    width: 70%;
    margin-top: .5%;
    line-height: 1.73rem;
    align-self: center;
    text-align: center;
}

.screenshots p{
    width: fit-content;
    margin-left: 5%;
}

.screenshots-rb figure{
    margin-top: 1%;
    width: 65%;
    align-self: center;
}

.screenshots figure{
    width: 50%;
}

.screenshots-rb img, .screenshots img{
    border: 7px solid;
    width: 100%;
}

.screenshots-rb figcaption, .screenshots figcaption {
    border: 5px solid var(--tertiary-color);
    background-color: var(--figcaptionBG-color);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
/*END OF PROJECTS SECTION STYLES */

/*CONTACT ME STYLES*/
.contact-me{
    width: 100%;
}
.contact-me div{
    margin-top: 2%;
    width: 100%;
}

.contact-me figcaption{
    font-size: 1.3em;
    color: var(--primary-color);
    width: fit-content;
    text-align: center;
}

#phone-figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*END OF CONTACT ME STYLES*/

/* MEDIA QUERIES */
/*SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    header nav{
        width: 85%;
    }

    .hero img{
        width: 100%
    }

    .about-me {
        width: 100%;
    }

    /* SKILLS section*/
    .skills{
        width: 100%;
    }

    .image-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image-container img{
        width: 20%;
        height: 20%;
    }
    /* END SKILLS section */

    /* PROJECTS section */
    .screenshots-rb figure{
        width: 85%;
    }

    .screenshots figure{
        width: 65%;
    }
    /* END PROJECTS section */
}
/* END DESKTOP SCREENS */

/* Keeps header hyperlinks from being too close 
    and project images viewable*/
@media screen and (max-width: 850px) {
    h1{
        font-size: 2.5rem;
    }

   /* Hyperlink styles */
    header nav{
        width: 100%;
    }

    
    /* PROJECTS */
    .screenshots-rb figure{
        width: 95%;
    }

    .screenshots-rb p, .screenshots p{
        margin-top: 1%;
    }

    .screenshots{
        flex-direction: column-reverse;
        align-items: center;
    }

    .screenshots figure{
        width: 95%;
        margin-top: 1%;
    }
    /* END OF PROJECTS */

}
/* END header and projects section edits */

  /*TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* HEADER */
    header{
        flex-wrap: nowrap;
    }
    header nav{
        width: 50%
    }
    header nav ul{
        flex-direction: column;
        align-items: flex-end;
    }
    header nav ul li a{
        font-size: 2.15rem;
    }
    /*END OF HEADER */

    /* ABOUT ME */
    .about-me img{
        width: 50%;
    }

    /* END OF ABOUT ME */

    /* SKILLS */
    .image-container img{
        width: 35%;
    }
    /*END OF SKILLS */

    /* CONTACT ME */
    .contact-me div{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .contact-me figure{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    /* END OF CONTACT ME */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* HEADER */
    header{
        flex-wrap:wrap;
    }

    h1{
        text-align: center;
        margin-bottom: 1.5%;
        border-bottom: 5px solid var(--tertiary-color);
    }

    header nav ul{
        align-items: center;
    }
    /* END OF HEADER */
} 